<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>
<h2>Hero Name: <%= @super_heroes[0].name %></h2>
<p>Hero Power: <%= @super_heroes[0].power %><p>
<p>Hero Biography: <%= @super_heroes[0].biography %><p>
<h2>Hero Name: <%= @super_heroes[1].name %></h2>
<p>Hero Power: <%= @super_heroes[1].power %><p>
<p>Hero Biography: <%= @super_heroes[1].biography %><p>
<h2>Hero Name: <%= @super_heroes[2].name %></h2>
<p>Hero Power: <%= @super_heroes[2].power %><p>
<p>Hero Biography: <%= @super_heroes[2].biography %><p>